<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Notebook-Configuration" data-toc-modified-id="Notebook-Configuration-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Notebook Configuration</a></span><ul class="toc-item"><li><span><a href="#Google-drive" data-toc-modified-id="Google-drive-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Google drive</a></span></li><li><span><a href="#Warning" data-toc-modified-id="Warning-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Warning</a></span></li><li><span><a href="#Matplotlib" data-toc-modified-id="Matplotlib-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Matplotlib</a></span></li><li><span><a href="#TensorFlow" data-toc-modified-id="TensorFlow-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>TensorFlow</a></span></li><li><span><a href="#Random-seed" data-toc-modified-id="Random-seed-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Random seed</a></span></li></ul></li><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Data Preprocessing</a></span></li><li><span><a href="#Hyperparameter-Tuning" data-toc-modified-id="Hyperparameter-Tuning-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Hyperparameter Tuning</a></span></li><li><span><a href="#Model-Selection" data-toc-modified-id="Model-Selection-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Model Selection</a></span></li><li><span><a href="#Generating-the-Submission-File" data-toc-modified-id="Generating-the-Submission-File-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Generating the Submission File</a></span><ul class="toc-item"><li><span><a href="#Creating-the-directory-for-the-submission-file" data-toc-modified-id="Creating-the-directory-for-the-submission-file-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>Creating the directory for the submission file</a></span></li><li><span><a href="#Generating-the-submission-file" data-toc-modified-id="Generating-the-submission-file-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Generating the submission file</a></span></li></ul></li><li><span><a href="#Interpretation" data-toc-modified-id="Interpretation-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Interpretation</a></span><ul class="toc-item"><li><span><a href="#Creating-the-directory-for-the-figures" data-toc-modified-id="Creating-the-directory-for-the-figures-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Creating the directory for the figures</a></span></li><li><span><a href="#Getting-the-feature-importance-detected-by-random-forest" data-toc-modified-id="Getting-the-feature-importance-detected-by-random-forest-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Getting the feature importance detected by random forest</a></span></li><li><span><a href="#Plotting-the-Feature-Importance" data-toc-modified-id="Plotting-the-Feature-Importance-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Plotting the Feature Importance</a></span></li></ul></li></ul></div>

<b>
<p>
<center>
<font size="5">
Forest Cover Type Prediction
</font>
</center>
</p>

<p>
<center>
<font size="4">
Use cartographic variables to classify forest categories
</font>
</center>
</p>
    
<p>
<center>
<font size="4">
Final Group Project
</font>
</center>
</p>

<p>
<center>
<font size="3">
Data Science, Columbian College of Arts & Sciences, George Washington University
</font>
</center>
</p>

<p>
<center>
<font size="3">
Yuan Meng, Zheyue Wang, Rayna Liu
</font>
</center>
</p>
</b>

# Introduction

# Notebook Configuration

## Google drive

In [ ]:
from google.colab import drive
import sys

# Mount Google Drive
drive.mount('/content/drive')

# Get the absolute path of the current folder
abspath_curr = '/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/spring_2021/final_project/'

# Get the absolute path of the shallow utilities folder
abspath_util_shallow = '/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/spring_2021/code/utilities/p2_shallow_learning/'

# Get the absolute path of the shallow models folder
abspath_model_shallow = '/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/spring_2021/code/models/p2_shallow_learning/'

Mounted at /content/drive

## Warning

In [ ]:
import warnings

# Ignore warnings
warnings.filterwarnings('ignore')

## Matplotlib

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline 

# Set matplotlib sizes
plt.rc('font', size=20)
plt.rc('axes', titlesize=20)
plt.rc('axes', labelsize=20)
plt.rc('xtick', labelsize=20)
plt.rc('ytick', labelsize=20)
plt.rc('legend', fontsize=20)
plt.rc('figure', titlesize=20)

## TensorFlow

In [ ]:
# The magic below allows us to use tensorflow version 2.x
%tensorflow_version 2.x 
import tensorflow as tf
from tensorflow import keras

## Random seed

In [ ]:
# The random seed
random_seed = 42

# Set random seed in tensorflow
tf.random.set_seed(random_seed)

# Set random seed in numpy
import numpy as np
np.random.seed(random_seed)

# Data Preprocessing

In [ ]:
# Change working directory to the absolute path of the shallow utilities folder
%cd $abspath_util_shallow

# Import the shallow utitilities
%run pmlm_utilities_shallow.ipynb

/content/drive/My Drive/Colab Notebooks/teaching/gwu/machine_learning_I/spring_2021/code/utilities/p2_shallow_learning

## Load the data

In this final group project, we will use the [Forest Cover Type Prediction](https://www.kaggle.com/c/forest-cover-type-prediction/overview).

In [ ]:
import pandas as pd

# Load the raw training data
df_raw_train = pd.read_csv(abspath_curr + 'train.csv', header=0)

# Make a copy of df_raw_train
df_train = df_raw_train.copy(deep=True)

# Load the raw test data
df_raw_test = pd.read_csv(abspath_curr + 'test.csv', header=0)

# Make a copy of df_raw_test
df_test = df_raw_test.copy(deep=True)

# Get the name of the target
target = 'Cover_Type'

In [ ]:
# Training data Information
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15120 entries, 0 to 15119
Data columns (total 56 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Id                                  15120 non-null  int64
 1   Elevation                           15120 non-null  int64
 2   Aspect                              15120 non-null  int64
 3   Slope                               15120 non-null  int64
 4   Horizontal_Distance_To_Hydrology    15120 non-null  int64
 5   Vertical_Distance_To_Hydrology      15120 non-null  int64
 6   Horizontal_Distance_To_Roadways     15120 non-null  int64
 7   Hillshade_9am                       15120 non-null  int64
 8   Hillshade_Noon                      15120 non-null  int64
 9   Hillshade_3pm                       15120 non-null  int64
 10  Horizontal_Distance_To_Fire_Points  15120 non-null  int64
 11  Wilderness_Area1                    15120 non-null  int64
 12  Wilderness_Area2                    15120 non-null  int64
 13  Wilderness_Area3                    15120 non-null  int64
 14  Wilderness_Area4                    15120 non-null  int64
 15  Soil_Type1                          15120 non-null  int64
 16  Soil_Type2                          15120 non-null  int64
 17  Soil_Type3                          15120 non-null  int64
 18  Soil_Type4                          15120 non-null  int64
 19  Soil_Type5                          15120 non-null  int64
 20  Soil_Type6                          15120 non-null  int64
 21  Soil_Type7                          15120 non-null  int64
 22  Soil_Type8                          15120 non-null  int64
 23  Soil_Type9                          15120 non-null  int64
 24  Soil_Type10                         15120 non-null  int64
 25  Soil_Type11                         15120 non-null  int64
 26  Soil_Type12                         15120 non-null  int64
 27  Soil_Type13                         15120 non-null  int64
 28  Soil_Type14                         15120 non-null  int64
 29  Soil_Type15                         15120 non-null  int64
 30  Soil_Type16                         15120 non-null  int64
 31  Soil_Type17                         15120 non-null  int64
 32  Soil_Type18                         15120 non-null  int64
 33  Soil_Type19                         15120 non-null  int64
 34  Soil_Type20                         15120 non-null  int64
 35  Soil_Type21                         15120 non-null  int64
 36  Soil_Type22                         15120 non-null  int64
 37  Soil_Type23                         15120 non-null  int64
 38  Soil_Type24                         15120 non-null  int64
 39  Soil_Type25                         15120 non-null  int64
 40  Soil_Type26                         15120 non-null  int64
 41  Soil_Type27                         15120 non-null  int64
 42  Soil_Type28                         15120 non-null  int64
 43  Soil_Type29                         15120 non-null  int64
 44  Soil_Type30                         15120 non-null  int64
 45  Soil_Type31                         15120 non-null  int64
 46  Soil_Type32                         15120 non-null  int64
 47  Soil_Type33                         15120 non-null  int64
 48  Soil_Type34                         15120 non-null  int64
 49  Soil_Type35                         15120 non-null  int64
 50  Soil_Type36                         15120 non-null  int64
 51  Soil_Type37                         15120 non-null  int64
 52  Soil_Type38                         15120 non-null  int64
 53  Soil_Type39                         15120 non-null  int64
 54  Soil_Type40                         15120 non-null  int64
 55  Cover_Type                          15120 non-null  int64
dtypes: int64(56)
memory usage: 6.5 MB

In [ ]:
# Testing data Information
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 565892 entries, 0 to 565891
Data columns (total 55 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   Id                                  565892 non-null  int64
 1   Elevation                           565892 non-null  int64
 2   Aspect                              565892 non-null  int64
 3   Slope                               565892 non-null  int64
 4   Horizontal_Distance_To_Hydrology    565892 non-null  int64
 5   Vertical_Distance_To_Hydrology      565892 non-null  int64
 6   Horizontal_Distance_To_Roadways     565892 non-null  int64
 7   Hillshade_9am                       565892 non-null  int64
 8   Hillshade_Noon                      565892 non-null  int64
 9   Hillshade_3pm                       565892 non-null  int64
 10  Horizontal_Distance_To_Fire_Points  565892 non-null  int64
 11  Wilderness_Area1                    565892 non-null  int64
 12  Wilderness_Area2                    565892 non-null  int64
 13  Wilderness_Area3                    565892 non-null  int64
 14  Wilderness_Area4                    565892 non-null  int64
 15  Soil_Type1                          565892 non-null  int64
 16  Soil_Type2                          565892 non-null  int64
 17  Soil_Type3                          565892 non-null  int64
 18  Soil_Type4                          565892 non-null  int64
 19  Soil_Type5                          565892 non-null  int64
 20  Soil_Type6                          565892 non-null  int64
 21  Soil_Type7                          565892 non-null  int64
 22  Soil_Type8                          565892 non-null  int64
 23  Soil_Type9                          565892 non-null  int64
 24  Soil_Type10                         565892 non-null  int64
 25  Soil_Type11                         565892 non-null  int64
 26  Soil_Type12                         565892 non-null  int64
 27  Soil_Type13                         565892 non-null  int64
 28  Soil_Type14                         565892 non-null  int64
 29  Soil_Type15                         565892 non-null  int64
 30  Soil_Type16                         565892 non-null  int64
 31  Soil_Type17                         565892 non-null  int64
 32  Soil_Type18                         565892 non-null  int64
 33  Soil_Type19                         565892 non-null  int64
 34  Soil_Type20                         565892 non-null  int64
 35  Soil_Type21                         565892 non-null  int64
 36  Soil_Type22                         565892 non-null  int64
 37  Soil_Type23                         565892 non-null  int64
 38  Soil_Type24                         565892 non-null  int64
 39  Soil_Type25                         565892 non-null  int64
 40  Soil_Type26                         565892 non-null  int64
 41  Soil_Type27                         565892 non-null  int64
 42  Soil_Type28                         565892 non-null  int64
 43  Soil_Type29                         565892 non-null  int64
 44  Soil_Type30                         565892 non-null  int64
 45  Soil_Type31                         565892 non-null  int64
 46  Soil_Type32                         565892 non-null  int64
 47  Soil_Type33                         565892 non-null  int64
 48  Soil_Type34                         565892 non-null  int64
 49  Soil_Type35                         565892 non-null  int64
 50  Soil_Type36                         565892 non-null  int64
 51  Soil_Type37                         565892 non-null  int64
 52  Soil_Type38                         565892 non-null  int64
 53  Soil_Type39                         565892 non-null  int64
 54  Soil_Type40                         565892 non-null  int64
dtypes: int64(55)
memory usage: 237.5 MB

In [ ]:
# Print the dimension of df_train (contain both features and Cover_Type)
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   15120         56

In [ ]:
# Print the dimension of df_test (contain only the features)
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  565892         55

In [ ]:
# Print the first 5 rows of df_train 
df_train.head()

   Id  Elevation  Aspect  ...  Soil_Type39  Soil_Type40  Cover_Type
0   1       2596      51  ...            0            0           5
1   2       2590      56  ...            0            0           5
2   3       2804     139  ...            0            0           2
3   4       2785     155  ...            0            0           2
4   5       2595      45  ...            0            0           5

[5 rows x 56 columns]

In [ ]:
# Print the first 5 rows of df_test
df_test.head()

      Id  Elevation  Aspect  ...  Soil_Type38  Soil_Type39  Soil_Type40
0  15121       2680     354  ...            0            0            0
1  15122       2683       0  ...            0            0            0
2  15123       2713      16  ...            0            0            0
3  15124       2709      24  ...            0            0            0
4  15125       2706      29  ...            0            0            0

[5 rows x 55 columns]

## Splitting the data

The code below shows how to divide the training data into training (80%) and validation (20%).

In [ ]:
from sklearn.model_selection import train_test_split

# Divide the training data into training (80%) and validation (20%)
df_train, df_val = train_test_split(df_train, train_size=0.8, random_state=random_seed)

# Reset the index
df_train, df_val = df_train.reset_index(drop=True), df_val.reset_index(drop=True)

In [ ]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   12096         56

In [ ]:
# Print the dimension of df_val
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0    3024         56

## Handling uncommon features

### Identifying uncommon features

The code below shows how to find common variables between the training, validation and test data.

In [ ]:
# Call common_var_checker
# See the implementation in pmlm_utilities.ipynb
df_common_var = common_var_checker(df_train, df_val, df_test, target)

# Print df_common_var
df_common_var

                            common var
0                               Aspect
1                           Cover_Type
2                            Elevation
3                        Hillshade_3pm
4                        Hillshade_9am
5                       Hillshade_Noon
6   Horizontal_Distance_To_Fire_Points
7     Horizontal_Distance_To_Hydrology
8      Horizontal_Distance_To_Roadways
9                                   Id
10                               Slope
11                          Soil_Type1
12                         Soil_Type10
13                         Soil_Type11
14                         Soil_Type12
15                         Soil_Type13
16                         Soil_Type14
17                         Soil_Type15
18                         Soil_Type16
19                         Soil_Type17
20                         Soil_Type18
21                         Soil_Type19
22                          Soil_Type2
23                         Soil_Type20
24                         Soil_Type21
25                         Soil_Type22
26                         Soil_Type23
27                         Soil_Type24
28                         Soil_Type25
29                         Soil_Type26
30                         Soil_Type27
31                         Soil_Type28
32                         Soil_Type29
33                          Soil_Type3
34                         Soil_Type30
35                         Soil_Type31
36                         Soil_Type32
37                         Soil_Type33
38                         Soil_Type34
39                         Soil_Type35
40                         Soil_Type36
41                         Soil_Type37
42                         Soil_Type38
43                         Soil_Type39
44                          Soil_Type4
45                         Soil_Type40
46                          Soil_Type5
47                          Soil_Type6
48                          Soil_Type7
49                          Soil_Type8
50                          Soil_Type9
51      Vertical_Distance_To_Hydrology
52                    Wilderness_Area1
53                    Wilderness_Area2
54                    Wilderness_Area3
55                    Wilderness_Area4

The code below shows how to find features in the training data but not in the validation or test data.

In [ ]:
# Get the features in the training data but not in the validation or test data
uncommon_feature_train_not_val_test = np.setdiff1d(df_train.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_train_not_val_test, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

The code below shows how to find the features in the validation data but not in the training or test data.

In [ ]:
# Get the features in the validation data but not in the training or test data
uncommon_feature_val_not_train_test = np.setdiff1d(df_val.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_val_not_train_test, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

The code below shows how to find the features in the test data but not in the training or validation data.

In [ ]:
# Get the features in the test data but not in the training or validation data
uncommon_feature_test_not_train_val = np.setdiff1d(df_test.columns, df_common_var['common var'])

# Print the uncommon features
pd.DataFrame(uncommon_feature_test_not_train_val, columns=['uncommon feature'])

Empty DataFrame
Columns: [uncommon feature]
Index: []

### Removing uncommon features

In [ ]:
# Remove the uncommon features from the training data
df_train = df_train.drop(columns=uncommon_feature_train_not_val_test)

# Print the first 5 rows of df_train
df_train.head()

      Id  Elevation  Aspect  ...  Soil_Type39  Soil_Type40  Cover_Type
0   4680       2364       3  ...            0            0           3
1   6635       2883      62  ...            0            0           5
2  11460       2972     162  ...            0            0           2
3  15054       2395     349  ...            0            0           6
4   8223       3244      64  ...            1            0           7

[5 rows x 56 columns]

In [ ]:
# Remove the uncommon features from the validation data
df_val = df_val.drop(columns=uncommon_feature_val_not_train_test)

# Print the first 5 rows of df_val
df_val.head()

      Id  Elevation  Aspect  ...  Soil_Type39  Soil_Type40  Cover_Type
0   6078       2432     147  ...            0            0           6
1   7895       2653     114  ...            0            0           3
2   6821       3542     315  ...            0            1           1
3   1594       3191     286  ...            0            0           1
4  11987       2160      64  ...            0            0           3

[5 rows x 56 columns]

In [ ]:
# Remove the uncommon features from the test data
df_test = df_test.drop(columns=uncommon_feature_test_not_train_val)

# Print the first 5 rows of df_test
df_test.head()

      Id  Elevation  Aspect  ...  Soil_Type38  Soil_Type39  Soil_Type40
0  15121       2680     354  ...            0            0            0
1  15122       2683       0  ...            0            0            0
2  15123       2713      16  ...            0            0            0
3  15124       2709      24  ...            0            0            0
4  15125       2706      29  ...            0            0            0

[5 rows x 55 columns]

## Handling identifiers

### Combining the training, validation and test data
The code below shows how to combine the training, validation and test data.

In [ ]:
# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

### Identifying identifiers
The code below shows how to find identifiers from data.

In [ ]:
# Call id_checker on df
# See the implementation in pmlm_utilities.ipynb
df_id = id_checker(df)

# Print the first 5 rows of df_id
df_id.head()

      Id
0   4680
1   6635
2  11460
3  15054
4   8223

### Removing identifiers
The code below shows how to remove identifiers from data.

In [ ]:
import numpy as np

# Remove identifiers from df_train
df_train.drop(columns=np.intersect1d(df_id.columns, df_train.columns), inplace=True)

# Remove identifiers from df_val
df_val.drop(columns=np.intersect1d(df_id.columns, df_val.columns), inplace=True)

# Remove identifiers from df_test
df_test.drop(columns=np.intersect1d(df_id.columns, df_test.columns), inplace=True)

In [ ]:
# Print the first 5 rows of df_train
df_train.head()

   Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0       2364       3     30  ...            0            0           3
1       2883      62     10  ...            0            0           5
2       2972     162     15  ...            0            0           2
3       2395     349     32  ...            0            0           6
4       3244      64     21  ...            1            0           7

[5 rows x 55 columns]

In [ ]:
# Print the first 5 rows of df_val
df_val.head()

   Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0       2432     147     16  ...            0            0           6
1       2653     114     14  ...            0            0           3
2       3542     315     31  ...            0            1           1
3       3191     286     20  ...            0            0           1
4       2160      64     37  ...            0            0           3

[5 rows x 55 columns]

In [ ]:
# Print the first 5 rows of df_test
df_test.head()

   Elevation  Aspect  Slope  ...  Soil_Type38  Soil_Type39  Soil_Type40
0       2680     354     14  ...            0            0            0
1       2683       0     13  ...            0            0            0
2       2713      16     15  ...            0            0            0
3       2709      24     17  ...            0            0            0
4       2706      29     19  ...            0            0            0

[5 rows x 54 columns]

## Handling date time variables

### Transforming date time variables
The code below shows how to transform date time variables into the following 6 datetime types:
- year
- month
- day
- hour
- minute
- second

In [ ]:
# Get the date time variables
datetime_vars = []

In [ ]:
# Call datetime_transformer on df_train
# See the implementation in pmlm_utilities.ipynb
df_train = datetime_transformer(df_train, datetime_vars)

# Print the first 5 rows of df_train
df_train.head()

   Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0       2364       3     30  ...            0            0           3
1       2883      62     10  ...            0            0           5
2       2972     162     15  ...            0            0           2
3       2395     349     32  ...            0            0           6
4       3244      64     21  ...            1            0           7

[5 rows x 55 columns]

In [ ]:
# Call datetime_transformer on df_val
# See the implementation in pmlm_utilities.ipynb
df_val = datetime_transformer(df_val, datetime_vars)

# Print the first 5 rows of df_val
df_val.head()

   Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0       2432     147     16  ...            0            0           6
1       2653     114     14  ...            0            0           3
2       3542     315     31  ...            0            1           1
3       3191     286     20  ...            0            0           1
4       2160      64     37  ...            0            0           3

[5 rows x 55 columns]

In [ ]:
# Call datetime_transformer on df_test
# See the implementation in pmlm_utilities.ipynb
df_test = datetime_transformer(df_test, datetime_vars)

# Print the first 5 rows of df_test
df_test.head()

   Elevation  Aspect  Slope  ...  Soil_Type38  Soil_Type39  Soil_Type40
0       2680     354     14  ...            0            0            0
1       2683       0     13  ...            0            0            0
2       2713      16     15  ...            0            0            0
3       2709      24     17  ...            0            0            0
4       2706      29     19  ...            0            0            0

[5 rows x 54 columns]

## Handling missing data

### Combining the training, validation and test data
The code below shows how to combine the training, validation and test data.

In [ ]:
# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

### Identifying missing values

The code below shows how to find variables with NaN, their proportion of NaN and data type.

In [ ]:
# Call nan_checker on df
# See the implementation in pmlm_utilities.ipynb
df_nan = nan_checker(df)

# Print df_nan
df_nan

          var  proportion    dtype
0  Cover_Type    0.973976  float64

In [ ]:
df['Cover_Type'].isna().sum()

565892

In [ ]:
# Print the unique data type of variables with NaN
pd.DataFrame(df_nan['dtype'].unique(), columns=['dtype'])

     dtype
0  float64

The code below shows how to use data type to select variables with missing values in the combined data.

In [ ]:
# Get the variables with missing values, their proportion of missing values and data type
df_miss = df_nan[df_nan['dtype'] == 'float64'].reset_index(drop=True)

# Print df_miss
df_miss

          var  proportion    dtype
0  Cover_Type    0.973976  float64

### Separating the training, validation and test data
The code below shows how to separate the training, validation and test data.

In [ ]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the validation data
df_val = df.iloc[df_train.shape[0]:df_train.shape[0] + df_val.shape[0], :]

# Separating the test data
df_test = df.iloc[df_train.shape[0] + df_val.shape[0]:, :]

In [ ]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   12096         55

In [ ]:
# Print the dimension of df_val
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0    3024         55

In [ ]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  565892         55

### Imputing missing values
The code below shows how to use the mode of a variable to impute its missing values.

In [ ]:
from sklearn.impute import SimpleImputer

# If there are missing values
if len(df_miss['var']) > 0:
    # The SimpleImputer
    si = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

    # Impute the variables with missing values in df_train, df_val and df_test 
    df_train[df_miss['var']] = si.fit_transform(df_train[df_miss['var']])
    df_val[df_miss['var']] = si.transform(df_val[df_miss['var']])
    df_test[df_miss['var']] = si.transform(df_test[df_miss['var']])

In [ ]:
df_test

        Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0            2680     354     14  ...            0            0         5.0
1            2683       0     13  ...            0            0         5.0
2            2713      16     15  ...            0            0         5.0
3            2709      24     17  ...            0            0         5.0
4            2706      29     19  ...            0            0         5.0
...           ...     ...    ...  ...          ...          ...         ...
565887       2396     153     20  ...            0            0         5.0
565888       2391     152     19  ...            0            0         5.0
565889       2386     159     17  ...            0            0         5.0
565890       2384     170     15  ...            0            0         5.0
565891       2383     165     13  ...            0            0         5.0

[565892 rows x 55 columns]

In [ ]:
df_test.shape

(565892, 55)

## Encoding the data

### Combining the training, validation and test data
The code below shows how to combine the training, validation and test data.

In [ ]:
# Combine df_train, df_val and df_test
df = pd.concat([df_train, df_val, df_test], sort=False)

# Print the unique data type of variables in df
pd.DataFrame(df.dtypes.unique(), columns=['dtype'])

     dtype
0    int64
1  float64

### Identifying categorical variables

The code below shows how to find categorical variables (whose data type is dtype) and their number of unique value.

In [ ]:
# Call cat_var_checker on df
# See the implementation in pmlm_utilities.ipynb
df_cat = cat_var_checker(df)

# Print the dataframe
df_cat

Empty DataFrame
Columns: [var, nunique]
Index: []

### Removing the categorical features with large number of categories
The code below shows how to remove the categorical features with large number of categoires in the combined data.

In [ ]:
# Remove features from df
df = df.drop(columns=[])

### Encoding categorical features
The code below shows how to encode categorical features in the combined data.

In [ ]:
# One-hot-encode the categorical features in the combined data
df = pd.get_dummies(df, columns=np.setdiff1d(np.intersect1d(df.columns, df_cat['var']), [target]))

# Print the first 5 rows of df
df.head()

   Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0       2364       3     30  ...            0            0         3.0
1       2883      62     10  ...            0            0         5.0
2       2972     162     15  ...            0            0         2.0
3       2395     349     32  ...            0            0         6.0
4       3244      64     21  ...            1            0         7.0

[5 rows x 55 columns]

### Encoding categorical target
The code below shows how to encode categorical target in the combined data.

In [ ]:
from sklearn.preprocessing import LabelEncoder

# The LabelEncoder
le = LabelEncoder()

# Encode categorical target in the combined data
df[target] = le.fit_transform(df[target].astype(str))

# Print the first 5 rows of df
df.head()

   Elevation  Aspect  Slope  ...  Soil_Type39  Soil_Type40  Cover_Type
0       2364       3     30  ...            0            0           2
1       2883      62     10  ...            0            0           4
2       2972     162     15  ...            0            0           1
3       2395     349     32  ...            0            0           5
4       3244      64     21  ...            1            0           6

[5 rows x 55 columns]

### Separating the training, validation and test data
The code below shows how to separate the training, validation and test data.

In [ ]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the validation data
df_val = df.iloc[df_train.shape[0]:df_train.shape[0] + df_val.shape[0], :]

# Separating the test data
df_test = df.iloc[df_train.shape[0] + df_val.shape[0]:, :]

In [ ]:
# Print the dimension of df_train
pd.DataFrame([[df_train.shape[0], df_train.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0   12096         55

In [ ]:
# Print the dimension of df_val
pd.DataFrame([[df_val.shape[0], df_val.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0    3024         55

In [ ]:
# Print the dimension of df_test
pd.DataFrame([[df_test.shape[0], df_test.shape[1]]], columns=['# rows', '# columns'])

   # rows  # columns
0  565892         55

## Splitting the feature and target
The code below shows how to split the feature and target.

In [ ]:
# Get the feature matrix
X_train = df_train[np.setdiff1d(df_train.columns, [target])].values
X_val = df_val[np.setdiff1d(df_val.columns, [target])].values
X_test = df_test[np.setdiff1d(df_test.columns, [target])].values

# Get the target vector
y_train = df_train[target].values
y_val = df_val[target].values
y_test = df_test[target].values

## Scaling the data

### Standardization
The code below shows how to standardize the data.

In [ ]:
from sklearn.preprocessing import StandardScaler

# The StandardScaler
ss = StandardScaler()

#### Standardizing the features
The code below shows how to standardize the features.

In [ ]:
# Standardize the training data
X_train = ss.fit_transform(X_train)

# Standardize the validation data
X_val = ss.transform(X_val)

# Standardize the test data
X_test = ss.transform(X_test)

In [ ]:
X_train.shape

In [ ]:
X_val.shape

In [ ]:
X_test.shape

In [ ]:
X_test

# Decision Tree

## The Sklearn model

The code below shows how to train the sklearn decision tree model (on the training data) and use it for prediction (on the validation data).

In [ ]:
from sklearn.tree import DecisionTreeClassifier

# The DecisionTreeClassifier
dtc = DecisionTreeClassifier(class_weight='balanced', random_state=random_seed)

# Train the decision tree classifier on the training data
dtc.fit(X_train, y_train)

# Get the prediction on the validation data
y_val_pred = dtc.predict(X_val)

The code below shows how to get the precision, recall and f-score.

In [ ]:
from sklearn.metrics import precision_recall_fscore_support

# Get the precision, recall, f-score and support
precision, recall, fscore, support = precision_recall_fscore_support(y_val, y_val_pred, average='micro')

# Print the precision, recall and f-score
pd.DataFrame([[precision, recall, fscore]], columns=['precision', 'recall', 'f-score'])

## Plot the decision tree

The code below shows how to create the directory for the figures.

In [ ]:
import os

# Make directory
directory = os.path.dirname(abspath_curr + '/result/Forest_Cover_Type_Prediction/figure/')
if not os.path.exists(directory):
    os.makedirs(directory)

The code below shows how to create the dot file of the decision tree.

In [ ]:
from pydotplus import graph_from_dot_data
from sklearn.tree import export_graphviz

dot_data = export_graphviz(dtc,
                           out_file=abspath_curr + '/result/Forest_Cover_Type_Prediction/figure/tree.dot',
                           feature_names=np.setdiff1d(df.columns, [target]),
                           class_names=np.unique(df_raw_train[target].astype(str)),
                           filled=True, 
                           rounded=True)

## Plot the feature importance

The code below shows how to get the feature importance detected by decision tree.

In [ ]:
# Get the dataframe of feature and importance
df_fi_dtc = pd.DataFrame(np.hstack((np.setdiff1d(df.columns, [target]).reshape(-1, 1), dtc.feature_importances_.reshape(-1, 1))),
                         columns=['Features', 'Importance'])

# Sort df_fi_dtc in descending order of the importance
df_fi_dtc = df_fi_dtc.sort_values(ascending=False, by='Importance').reset_index(drop=True)

# Print df_fi_dtc
df_fi_dtc

The code below shows how to create the bar plot of feature importance.

In [ ]:
# Create a figure
fig = plt.figure(figsize=(10, 5))

# The bar plot of feature importance
plt.bar(df_fi_dtc['Features'], df_fi_dtc['Importance'], color='green')

# Set x-axis
plt.xlabel('Features')

# Set y-axis
plt.ylabel('Importance')

# Rotate the labels
plt.xticks(rotation=90)

# Save and show the figure
plt.tight_layout()
plt.savefig(abspath_curr + '/result/Forest_Cover_Type_Prediction/figure/feature_importance_dtc.pdf')
plt.show()

# Bagging

### The Sklearn model

The code below shows how to train the sklearn random forest model (on the training data) and use it for prediction (on the validation data).

In [ ]:
from sklearn.ensemble import RandomForestClassifier

# The RandomForestClassifier
rfc = RandomForestClassifier(class_weight='balanced', random_state=random_seed)

# Train the random forest classifier on the training data
rfc.fit(X_train, y_train)

# Get the prediction on the validation data
y_val_pred = rfc.predict(X_val)

The code below shows how to get the precision, recall and f-score.

In [ ]:
# Get the precision, recall, f-score and support
precision, recall, fscore, support = precision_recall_fscore_support(y_val, y_val_pred, average='micro')

# Print the precision, recall and f-score
pd.DataFrame([[precision, recall, fscore]], columns=['precision', 'recall', 'f-score'])

### Plot the feature importance

The code below shows how to get the feature importance detected by decision tree.

In [ ]:
# Get the dataframe of feature and importance
df_fi_rfc = pd.DataFrame(np.hstack((np.setdiff1d(df.columns, [target]).reshape(-1, 1), rfc.feature_importances_.reshape(-1, 1))),
                         columns=['Features', 'Importance'])

# Sort df_fi_rfc in descending order of the importance
df_fi_rfc = df_fi_rfc.sort_values(ascending=False, by='Importance').reset_index(drop=True)

# Print df_fi_rfcs
df_fi_rfc

The code below shows how to create the bar plot of feature importance.

In [ ]:
# Create a figure
fig = plt.figure(figsize=(10, 5))

# The bar plot of feature importance
plt.bar(df_fi_rfc['Features'], df_fi_rfc['Importance'], color='green')

# Set x-axis
plt.xlabel('Features')

# Set y-axis
plt.ylabel('Importance')

# Rotate the labels
plt.xticks(rotation=90)

# Save and show the figure
plt.tight_layout()
plt.savefig(abspath_curr + '/result/Forest_Cover_Type_Prediction/figure/feature_importance_rfc.pdf')
plt.show()

# Boosting

### The Sklearn model

The code below shows how to train the sklearn histogram-based gradient boosting classifier (on the training data) and use it for prediction (on the validation data).

In [ ]:
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier

# The HistGradientBoostingClassifier
hgbc = HistGradientBoostingClassifier(random_state=random_seed)

# Train the histogram-based gradient boosting classifier on the training data
hgbc.fit(X_train, y_train)

# Get the prediction on the validation data
y_val_pred = hgbc.predict(X_val)

The code below shows how to get the precision, recall and f-score.

In [ ]:
# Get the precision, recall, f-score and support
precision, recall, fscore, support = precision_recall_fscore_support(y_val, y_val_pred, average='micro')

# Print the precision, recall and f-score
pd.DataFrame([[precision, recall, fscore]], columns=['precision', 'recall', 'f-score'])

# Hyperparameter Tuning

## Creating the dictionary of the models
- In the dictionary:
    - the key is the acronym of the model
    - the value is the model

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.experimental import enable_hist_gradient_boosting
from sklearn.ensemble import HistGradientBoostingClassifier

models = {'lr': LogisticRegression(class_weight='balanced', random_state=random_seed),
          'mlpc': MLPClassifier(early_stopping=True, random_state=random_seed),
          'dtc': DecisionTreeClassifier(class_weight='balanced', random_state=random_seed),
          'rfc': RandomForestClassifier(class_weight='balanced', random_state=random_seed),
          'hgbc': HistGradientBoostingClassifier(random_state=random_seed)}

## Creating the dictionary of the pipelines
In the dictionary:
- the key is the acronym of the model
- the value is the pipeline, which, for now, only includes the model

In [ ]:
from sklearn.pipeline import Pipeline

pipes = {}

for acronym, model in models.items():
    pipes[acronym] = Pipeline([('model', model)])

## Getting the predefined split cross-validator

In [ ]:
# Get the:
# feature matrix and target velctor in the combined training and validation data
# target vector in the combined training and validation data
# PredefinedSplit
# See the implementation in pmlm_utilities.ipynb
X_train_val, y_train_val, ps = get_train_val_ps(X_train, y_train, X_val, y_val)

## GridSearchCV

### Creating the dictionary of the parameter grids
- In the dictionary:
    - the key is the acronym of the model
    - the value is the parameter grid of the model

In [ ]:
param_grids = {}

#### The parameter grid for LogisticRegression
- The hyperparameters we want to fine-tune are:
    - tol
    - C
- See details of the meaning of the hyperparametes in [sklearn.linear_model.LogisticRegression](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html)

In [ ]:
# The parameter grid of tol
tol_grid = [10 ** -5, 10 ** -4, 10 ** -3]

# The parameter grid of C
C_grid = [0.1, 1, 10]

# Update param_grids
param_grids['lr'] = [{'model__tol': tol_grid,
                      'model__C': C_grid}]

#### The parameter grid for MLPClassifier
- The hyperparameters we want to fine-tune are:
    - alpha
    - learning_rate_init

- See details of the meaning of the hyperparametes in [sklearn.neural_network.MLPClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.neural_network.MLPClassifier.html)

In [ ]:
# The grids for alpha
alpha_grids = [10 ** i for i in range(-5, -2)]

# The grids for learning_rate_init
learning_rate_init_grids = [10 ** i for i in range(-4, -1)]

# Update param_grids
param_grids['mlpc'] = [{'model__alpha': alpha_grids,
                        'model__learning_rate_init': learning_rate_init_grids}]

#### The parameter grid for decision tree
- The hyperparameters we want to fine-tune are:
    - min_samples_split
    - min_samples_leaf

- See details of the meaning of the hyperparametes in [sklearn.tree.DecisionTreeClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html#sklearn.tree.DecisionTreeClassifier)

In [ ]:
# The grids for min_samples_split
min_samples_split_grids = [2, 20, 100]

# The grids for min_samples_leaf
min_samples_leaf_grids = [1, 20, 100]

# Update param_grids
param_grids['dtc'] = [{'model__min_samples_split': min_samples_split_grids,
                       'model__min_samples_leaf': min_samples_leaf_grids}]

#### The parameter grid for random forest
- The hyperparameters we want to fine-tune are:
    - min_samples_split
    - min_samples_leaf

- See details of the meaning of the hyperparametes in [sklearn.ensemble.RandomForestClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html)

In [ ]:
# The grids for min_samples_split
min_samples_split_grids =  [1, 2, 3, 4]

# The grids for min_samples_leaf
min_samples_leaf_grids = [1, 2, 3]

# Update param_grids
param_grids['rfc'] = [{'model__min_samples_split': min_samples_split_grids,
                       'model__min_samples_leaf': min_samples_leaf_grids}]

#### The parameter grid for histogram-based gradient boosting
- The hyperparameters we want to fine-tune are:
- learning_rate
- min_samples_leaf

- See details of the meaning of the hyperparametes in [sklearn.ensemble.HistGradientBoostingClassifier](https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.HistGradientBoostingClassifier.html)

In [ ]:
# The grids for learning_rate
learning_rate_grids = [0.1080867197553422]

# The grids for min_samples_leaf
min_samples_leaf_grids = [19, 20, 21, 22]

# Update param_grids
param_grids['hgbc'] = [{'model__learning_rate': learning_rate_grids,
                        'model__min_samples_leaf': min_samples_leaf_grids}]

### Creating the directory for the cv results produced by GridSearchCV

In [ ]:
# Make directory
directory = os.path.dirname(abspath_curr + '/result/Forest_Cover_Type_Prediction/cv_results/GridSearchCV/')
if not os.path.exists(directory):
    os.makedirs(directory)

### Tuning the hyperparameters
The code below shows how to fine-tune the hyperparameters of SGDRegressor and LinearRegression_MBGD using sklearn GridSearchCV.

In [ ]:
from sklearn.model_selection import GridSearchCV

# The list of [best_score_, best_params_, best_estimator_] obtained by GridSearchCV
best_score_params_estimator_gs = []

# For each model
for acronym in pipes.keys():
    # GridSearchCV
    gs = GridSearchCV(estimator=pipes[acronym],
                      param_grid=param_grids[acronym],
                      scoring='f1_macro',
                      n_jobs=2,
                      cv=ps,
                      return_train_score=True)
        
    # Fit the pipeline
    gs = gs.fit(X_train_val, y_train_val)
    
    # Update best_score_params_estimator_gs
    best_score_params_estimator_gs.append([gs.best_score_, gs.best_params_, gs.best_estimator_])
    
    # Sort cv_results in ascending order of 'rank_test_score' and 'std_test_score'
    cv_results = pd.DataFrame.from_dict(gs.cv_results_).sort_values(by=['rank_test_score', 'std_test_score'])
    
    # Get the important columns in cv_results
    important_columns = ['rank_test_score',
                         'mean_test_score', 
                         'std_test_score', 
                         'mean_train_score', 
                         'std_train_score',
                         'mean_fit_time', 
                         'std_fit_time',                        
                         'mean_score_time', 
                         'std_score_time']
    
    # Move the important columns ahead
    cv_results = cv_results[important_columns + sorted(list(set(cv_results.columns) - set(important_columns)))]

    # Write cv_results file
    cv_results.to_csv(path_or_buf=abspath_curr + '/result/Forest_Cover_Type_Prediction/cv_results/GridSearchCV/' + acronym + '.csv', index=False)

# Sort best_score_params_estimator_gs in descending order of the best_score_
best_score_params_estimator_gs = sorted(best_score_params_estimator_gs, key=lambda x : x[0], reverse=True)

# Print best_score_params_estimator_gs
pd.DataFrame(best_score_params_estimator_gs, columns=['best_score', 'best_param', 'best_estimator'])

# Model Selection
Here we will select best_estimator_gs as the best model. Later we will use this best model to generate the submission file for this kaggle competition.

In [ ]:
# Get the best_score, best_params and best_estimator obtained by GridSearchCV
best_score_gs, best_params_gs, best_estimator_gs = best_score_params_estimator_gs[0]

# Generating the Submission File
Use the best model selected earlier to generate the submission file for this kaggle competition.

## Creating the directory for the submission file

In [ ]:
# Make directory
directory = os.path.dirname(abspath_curr + '/result/boo/submission/')
if not os.path.exists(directory):
    os.makedirs(directory)

## Generating the submission file

In [ ]:
# Get the best_score, best_param and best_estimator obtained by GridSearchCV
best_score_gs, best_params_gs, best_estimator_gs = best_score_params_estimator_gs[0]

# Get the prediction on the testing data using best_model
y_test_pred = best_estimator_gs.predict(X_test)

# Transform y_test_pred back to the original class
y_test_pred = le.inverse_transform(y_test_pred)

# Get the submission dataframe
df_submit = pd.DataFrame(np.hstack((df_raw_test['Id'].to_numpy().reshape(-1, 1), y_test_pred.reshape(-1, 1))),
                         columns=['Id', target])                                                                                      

# Generate the submission file
df_submit.to_csv(abspath_curr + '/result/boo/submission/submission.csv', index=False)

# Test the Model Accuracy in the Whole training set

In [ ]:
X_test_whole_train = np.concatenate((X_train,X_val), axis=0)
y_test_whole_train = np.concatenate((y_train,y_val), axis=0)

In [ ]:
y_test_pred = best_estimator_gs.predict(X_test_whole_train)
y_test_pred

In [ ]:
def acc(x_test,y_test):
    y_pred = best_estimator_gs.predict(x_test)
    correct_sum = 0
    for i in range(len(y_test)):
        if y_pred[i] == y_test[i]:
            correct_sum += 1
    acc = correct_sum / (len(y_test)) * 100
    return acc

In [ ]:
acc(X_test_whole_train,y_test_whole_train)

In [ ]:
from sklearn.metrics import precision_recall_fscore_support

# Get the precision, recall, f-score and support
precision, recall, fscore, support = precision_recall_fscore_support(y_test_whole_train,y_test_pred, average='macro')

# Print the precision, recall and f-score
pd.DataFrame([[precision, recall, fscore]], columns=['precision', 'recall', 'f-score'])

# Interpretation

## Creating the directory for the figures

In [ ]:
import os

# Make directory
directory = os.path.dirname(abspath_curr + '/result/boo/figure/')
if not os.path.exists(directory):
    os.makedirs(directory)